version: "3.9"
services:
  mongo_db:
    container_name: db
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017

  nestjs:
    build: .
    ports:
      - 3000:3000
    environment:
      PORT: 3000
      MONGODB_URI: mongodb://db:27017
      DB_NAME: my_db
      NAME: Chat
    depends_on:
      - mongo_db